In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn as sk

In [2]:
df=pd.read_csv("/content/housepricess.csv")
df

    area  bedrooms   price
0   1056         2   39.07
1   2600         4  120.00
2   1440         3   62.00
3   1521         3   75.00
4   1200         2   51.00
5   1170         2   38.00
6   2732         4  135.00
7   3300         4  155.00
8   1310         3   50.00
9   3700         5  167.00
10  1800         3   82.00
11  2785         4  140.00
12  1000         2   38.00
13  1100         2   40.00
14  2250         3  101.00
15  1175         2   42.00
16  1180         3   48.00
17  1540         3   60.00
18  2770         3  102.00
19   800         1   32.00

In [22]:
from sklearn import preprocessing
sx=preprocessing.MinMaxScaler()
sy=preprocessing.MinMaxScaler()
scaled_x=sx.fit_transform(df.drop('price',axis='columns'))
scaled_y=sy.fit_transform(df.price.values.reshape(df.shape[0],1))

In [24]:
import random

In [34]:
def sgd(x,y_true,epochs,learning_rate=0.5):
  nooffeatures=x.shape[1]
  w=np.ones(shape=nooffeatures)
  b=0
  total_samples=x.shape[0]

  epoch_list=[]
  cost_list=[]

  for i in range(epochs):
    random_index=random.randint(0,x.shape[0]-1)
    sample_x=x[random_index]
    sample_y=y_true[random_index]
    y_predicted=np.dot(w, sample_x.T)+b

    wd = -(2/total_samples)*(sample_x.T.dot(sample_y-y_predicted))
    bd = -(2/total_samples)*np.sum(sample_y-y_predicted)

    w=w-learning_rate*wd
    b=b-learning_rate*bd

    cost=np.mean(np.square(sample_y-y_predicted))

    if i%10==0:
      epoch_list.append(i)
      cost_list.append(cost)

  return w,b,cost,epoch_list,cost_list

wsgd,bsgd,cost, epoch_listsgd,cost_listsgd=sgd(scaled_x, scaled_y.reshape(scaled_y.shape[0]) ,200,learning_rate=0.5)
wsgd,bsgd,cost

(array([0.70899656, 0.67822726]), -0.24975614288861267, 0.016948783249107972)

In [65]:
def predict(area,bedrooms,wsgd,bsgd):
  sampleofx=sx.transform([[area,bedrooms]])[0]
  scaled_price=np.dot(wsgd,sampleofx.T)+bsgd
  return sy.inverse_transform([[scaled_price]])[0][0]
predict(1440,3,wsgd,bsgd)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

65.18646816257451